# SAMPLE CONFIG FILE FOR DSBMD
##############################################################################
#
# FIELD CODES
#	%u: Will be replaced by the UID of the client.
#	%g: Will be replaced by the GID of the client.
#
# USER DEFINED MOUNT COMMANDS
#	dsbmd will pass the device name, volume label, the filesystem name, the
#	UID and GID of the client mounting the device to the command using the
#	environment variables DSBMD_DEVICE, DSBMD_MNTPT, DSBMD_FILESYSTEM,
#	DSBMD_LABEL, DSBMD_UID, DSBMD_GID, DSBMD_GPHOTO_USB_PORT
#
#	Example:
#
#	#!/bin/sh
#	#
#	# ntfs_mount_rw - Mount a NTFS device for reading and writing.
#	#
#	/usr/local/bin/ntfs-3g -o "uid=${DSBMD_UID},gid=${DSBMD_GID}" \
#	    ${DSBMD_DEVICE} ${DSBMD_MNTPT} || exit 1
#	exit 0
#
#	In dsbmd.conf:
#	ntfs_mount_cmd = /path/to/ntfs_mount_rw
##############################################################################
cfgversion = 1001

# Define filesystem kernel modules to load at DSBMD startup.
preload_kmods =  ufs, msdosfs, cd9660, ext2fs, fuse, geom_linux_lvm

# poll_exceptions - A comma separated list of shell-style patterns which
# match devices that should NOT be polled. If a pattern contains whitespaces,
# it must be enclosed in double quotes (``"´´). Wildcards must be escaped by
# a backslash (``\´´) in order to be treated as regular characters.
#
# My Sansa Clip+, for instance, disappears from the CAM device list and/or be-
# gins to hang after a certain amount of time if polling is enabled.
# poll_exceptions = "*Sansa Clip+*", "foo bar*"

# poll_interval - Time interval in seconds devices should be polled. I
# think 5 sec. is sane. If set to 0 polling is disabled.
poll_interval = 5

# Time interval in seconds between checking the mount table for changes.
mntchk_interval = 1

# Set the maximum reading speed for CDs/DVDs
cdrspeed = 16

# mount_dir - Base directory where to create the mount points.
mount_dir = /media

# max_clients - Maximum number of clients allowed to connect.
max_clients = 10

# Max number of seconds to wait for an external mount command to finish before
# it gets killed.
procmaxwait = 10

# usermount - Controls whether DSBMD mounts devices as user. This requires the
# sysctl variable vfs.usermount is set to 1.
usermount = true

# msdosfs_opts - Option string to pass to the msdosfs mount function.
# See also fstab(5) and mount_msdosfs(8).
msdosfs_opts = "large,rw,uid=%u,gid=%g"

# msdosfs_locale - Locale for filename conversion.
msdosfs_locale = en_US.UTF-8

# ufs_opts - Option string to pass to the ufs mount function.
# See also fstab(5) and mount_msdosfs(8).
ufs_opts = "rw,noatime,nosuid"

# cd9660_opts - Option string to pass to the cd9660 mount function.
# See also fstab(5) and mount_cd9660(8).
# cd9660_opts = 

# ntfs_opts - Option string to pass to the ntfs mount function.
# See also fstab(5) and mount_cd9660(8).
# ntfs_opts = 

# ext_opts - Option string to pass to the ext2/3 mount function.
# See also fstab(5) and mount(8).
ext_opts = "rw,noatime"

# ext4_opts - Option string to pass to the ext2/3/4 mount function.
# See also ext2fs(5) and mount(8).
# ext4_opts =

# exfat_opts - Option string to pass to the exfat mount function. This
# variable is currently ignored as there is no kernel support for exfat.
# See mount.exfat-fuse(8) and exfat_mount_cmd instead. 
# exfat_opts =

# The following variables can be set to define external mount commands.
# Such a command/script must return 0 on success, and a value != 0 if
# mounting failed.
#
# cd9660_mount_cmd =
# msdosfs_mount_cmd =
# ufs_mount_cmd =
# ext_mount_cmd =
# ext4_mount_cmd =
# exfat_mount_cmd =
# 
# For user mode mounting:
#
# cd9660_mount_cmd_usr =
# msdosfs_mount_cmd_usr =
# ufs_mount_cmd_usr =
# ext_mount_cmd_usr =
# ext4_mount_cmd_usr =
# exfat_mount_cmd_usr =

ntfs_mount_cmd = "/usr/local/bin/ntfs-3g -o \"uid=${DSBMD_UID},gid=${DSBMD_GID}\" ${DSBMD_DEVICE} \"${DSBMD_MNTPT}\""
mtpfs_mount_cmd = "/usr/local/bin/simple-mtpfs -o \"uid=${DSBMD_UID},gid=${DSBMD_GID},allow_other\" ${DSBMD_DEVICE} \"${DSBMD_MNTPT}\""
ptpfs_mount_cmd = "/usr/local/bin/gphotofs --port=${DSBMD_GPHOTO_USB_PORT} -o allow_other \"${DSBMD_MNTPT}\""
exfat_mount_cmd = "/usr/local/sbin/mount.exfat -o \"uid=${DSBMD_UID},gid=${DSBMD_GID}\" ${DSBMD_DEVICE} \"${DSBMD_MNTPT}\""
hfsp_mount_cmd = "/usr/local/bin/hfsfuse -o \"uid=${DSBMD_UID},gid=${DSBMD_GID}\" ${DSBMD_DEVICE} \"${DSBMD_MNTPT}\""

# Commands for user mode mounting.
ntfs_mount_cmd_usr = "/sbin/mount_fusefs auto \"${DSBMD_MNTPT}\" ntfs-3g ${DSBMD_DEVICE} \"${DSBMD_MNTPT}\""
mtpfs_mount_cmd_usr = "/usr/local/bin/simple-mtpfs ${DSBMD_DEVICE} \"${DSBMD_MNTPT}\""
ptpfs_mount_cmd_usr = "/usr/local/bin/gphotofs --port=${DSBMD_GPHOTO_USB_PORT} \"${DSBMD_MNTPT}\""
exfat_mount_cmd_usr = "/usr/local/sbin/mount.exfat ${DSBMD_DEVICE} \"${DSBMD_MNTPT}\""
ext4_mount_cmd_usr = "/sbin/mount_fusefs auto \"${DSBMD_MNTPT}\" fuse-ext2 -o 'rw+' ${DSBMD_DEVICE} \"${DSBMD_MNTPT}\""
hfsp_mount_cmd_usr = "/sbin/mount_fusefs auto \"${DSBMD_MNTPT}\" hfsfuse ${DSBMD_DEVICE} \"${DSBMD_MNTPT}\""

# allow_users - Comma separated list of users who are allowed to connect.
# allow_users = jondoe, janedoe

# allow_groups - Comma separated list of groups whose members are allowed
# to connect.
allow_groups = operator, wheel

